<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CryptoAngular</title>
  </head>
  <body class="bg-dark p-0 m-0">
    <div class="container">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th class="text-info ms-2">Crypto</th>
            <th class="text-center text-info">Current price (Euro)</th>
            <th class="text-center text-info">% 24h</th>
            <th class="text-end text-info">Total volume</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coin of COINS">
            <td>
              <img
                class="me-5 ms-2"
                src="{{ coin.image }}"
                alt="{{ coin.name }}"
                style="width: 2rem"
                loading="lazy"
              />{{ coin.name }}
              <span class="text-muted ms-1">{{ coin.symbol }}</span>
            </td>
            <td class="text-center">
              {{ coin.current_price.toLocaleString() }}€
            </td>
            <td
              class="text-center"
              [ngClass]="
                coin.price_change_percentage_24h > 0
                  ? 'text-success'
                  : 'text-danger'
              "
            >
              {{ coin.price_change_percentage_24h }}
            </td>
            <td class="text-end">
              {{ coin.total_volume.toLocaleString() }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
